.App {
  margin: auto;
  width: 60%;
}

.App-Title {
  padding-left: 0.5em;
}

.mainViewCard{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.current-time-icon{
  transform: scale(1.5);
}

.tempToggle{
  cursor: pointer;
}

.active{
  font-size: 1.5em;
  color: #202020;
  text-shadow: 1px 1px #c1c1c1;
}
